Sem03/DemoDivisas2/xml-resources/web-service-references/DivisasWS/wsdl/localhost_8080/DivisasWS/DivisasWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.app.egcc.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.app.egcc.pe/">

<xs:element name="solesToDolares" type="tns:solesToDolares" />

<xs:element name="solesToDolaresResponse" type="tns:solesToDolaresResponse" />

<xs:complexType name="solesToDolares">
<xs:sequence>
<xs:element name="soles" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="solesToDolaresResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>