Practica01Grupo02/App_TablaMultiplicar/xml-resources/web-service-references/WSTablaMultiplicar/wsdl/localhost_8080/WSTablaMultiplicar/WSTablaMultiplicar.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.egcc.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.egcc.pe/">

<xs:element name="Multiplica" type="tns:Multiplica"/>

<xs:element name="MultiplicaResponse" type="tns:MultiplicaResponse"/>

<xs:complexType name="Multiplica">
<xs:sequence>
<xs:element name="numero" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicaResponse">
<xs:sequence>
<xs:element name="return" type="tns:tablaFila" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tablaFila">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
<xs:element name="opera" type="xs:string" minOccurs="0"/>
<xs:element name="rpta" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>