Sem02/WSMateClient/xml-resources/web-service-references/WSMate/wsdl/localhost_8080/WSMate/WSMate.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.egcc.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.egcc.pe/">

<xs:element name="restar" type="tns:restar" />

<xs:element name="restarResponse" type="tns:restarResponse" />

<xs:element name="sumar" type="tns:sumar" />

<xs:element name="sumarResponse" type="tns:sumarResponse" />

<xs:complexType name="restar">
<xs:sequence>
<xs:element name="num1" type="xs:int" />
<xs:element name="num2" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumar">
<xs:sequence>
<xs:element name="num1" type="xs:int" />
<xs:element name="num2" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>